<%= @error if @error %>

<form method='post' action='/signup'>
	<input name="user_name" placeholder="Name">
	<input name="user_email" placeholder="Email">
	<input name="user_password" placeholder="Password">
	<input name="user_dob" placeholder="DD/MM/YYYY">
	<button>Sign up</button>
</form>